In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Fitness_trackers_updated.csv')

In [3]:
df.head()

,Brand Name,Device Type,Model Name,Color,Selling Price,Original Price,Display,Rating (Out of 5),Strap Material,Average Battery Life (in days),Reviews
0,Xiaomi,FitnessBand,Smart Band 5,Black,"2,499","2,999",AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
1,Xiaomi,FitnessBand,Smart Band 4,Black,"2,099","2,499",AMOLED Display,4.2,Thermoplastic polyurethane,14,NaN
2,Xiaomi,FitnessBand,HMSH01GE,Black,"1,722","2,099",LCD Display,3.5,Leather,14,NaN
3,Xiaomi,FitnessBand,Smart Band 5,Black,"2,469","2,999",AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
4,Xiaomi,FitnessBand,Band 3,Black,"1,799","2,199",OLED Display,4.3,Plastic,7,NaN

## Clean column names

In [4]:
df = df.rename(columns = {'Rating (Out of 5)' : 'rating', 'Average Battery Life (in days)' : 'avg_battery_life_days'})

In [5]:
df.columns

Index(['Brand Name', 'Device Type', 'Model Name', 'Color', 'Selling Price',
       'Original Price', 'Display', 'rating', 'Strap Material',
       'avg_battery_life_days', 'Reviews'],
      dtype='object')

In [6]:
new_cols = [i.lower().replace(' ', '_') for i in df.columns]

Add INR (Indian Rupees) to prices:

In [7]:
new_cols = [i + '_INR' if i.endswith('price') else i for i in new_cols]

In [8]:
new_cols

['brand_name',
 'device_type',
 'model_name',
 'color',
 'selling_price_INR',
 'original_price_INR',
 'display',
 'rating',
 'strap_material',
 'avg_battery_life_days',
 'reviews']

In [9]:
df.columns = new_cols

## Fix dtypes

In [10]:
df.dtypes

brand_name                object
device_type               object
model_name                object
color                     object
selling_price_INR         object
original_price_INR        object
display                   object
rating                   float64
strap_material            object
avg_battery_life_days      int64
reviews                   object
dtype: object

At least, to start with, `selling_price` and `original_price` should be `float` dtype.

In [11]:
df.selling_price_INR = df.selling_price_INR.str.replace(',', '').astype(float)
df.original_price_INR = df.original_price_INR.str.replace(',', '').astype(float)

Create additional price columns in USD. Current exchange rate (2023-10-09) is 1000 INR = 12 USD

In [13]:
df['selling_price_USD'] = df.selling_price_INR / 1000 * 12
df['original_price_USD'] = df.original_price_INR / 1000 * 12

In [14]:
df.dtypes

brand_name                object
device_type               object
model_name                object
color                     object
selling_price_INR        float64
original_price_INR       float64
display                   object
rating                   float64
strap_material            object
avg_battery_life_days      int64
reviews                   object
selling_price_USD        float64
original_price_USD       float64
dtype: object

Reorder the columns:

In [15]:
df.columns

Index(['brand_name', 'device_type', 'model_name', 'color', 'selling_price_INR',
       'original_price_INR', 'display', 'rating', 'strap_material',
       'avg_battery_life_days', 'reviews', 'selling_price_USD',
       'original_price_USD'],
      dtype='object')

In [17]:
rearranged_cols = ['brand_name', 'device_type', 'model_name', 'color',
                   'selling_price_INR', 'selling_price_USD',
                   'original_price_INR', 'original_price_USD',
                   'display', 'rating', 'strap_material',
                   'avg_battery_life_days', 'reviews']

In [19]:
df = df[rearranged_cols]

In [20]:
df.head(2)

,brand_name,device_type,model_name,color,selling_price_INR,selling_price_USD,original_price_INR,original_price_USD,display,rating,strap_material,avg_battery_life_days,reviews
0,Xiaomi,FitnessBand,Smart Band 5,Black,2499.0,29.988,2999.0,35.988,AMOLED Display,4.1,Thermoplastic polyurethane,14,NaN
1,Xiaomi,FitnessBand,Smart Band 4,Black,2099.0,25.188,2499.0,29.988,AMOLED Display,4.2,Thermoplastic polyurethane,14,NaN

## Check object variables

In [21]:
df.select_dtypes(object)

,brand_name,device_type,model_name,color,display,strap_material,reviews
0,Xiaomi,FitnessBand,Smart Band 5,Black,AMOLED Display,Thermoplastic polyurethane,NaN
1,Xiaomi,FitnessBand,Smart Band 4,Black,AMOLED Display,Thermoplastic polyurethane,NaN
2,Xiaomi,FitnessBand,HMSH01GE,Black,LCD Display,Leather,NaN
3,Xiaomi,FitnessBand,Smart Band 5,Black,AMOLED Display,Thermoplastic polyurethane,NaN
4,Xiaomi,FitnessBand,Band 3,Black,OLED Display,Plastic,NaN
...,...,...,...,...,...,...,...
605,Fire-Boltt,Smartwatch,Talk Bluetooth,"Black, Grey, Green",HD Display,Silicone,923
606,Fire-Boltt,Smartwatch,Almighty,Orange,AMOLED Display,Silicone,212
607,Fire-Boltt,Smartwatch,Mercury,Red,HD Display,Silicone,4941
608,Fire-Boltt,Smartwatch,Spin,White,TFT-LCD Display,Silicone,15
609,Fire-Boltt,Smartwatch,Ninja Pro,White,HD Display,Silicone,688

Reviews values seem to be the number of reviews that a particular device has, but the dtype is wrong.

In [87]:
df.reviews[df.reviews.notnull()]

7          2
8          3
73      6568
74     17809
75     23426
       ...
605      923
606      212
607     4941
608       15
609      688
Name: reviews, Length: 114, dtype: object

In [89]:
#df.reviews.astype(float)

When attemping to convert to float, an error rose because some values are numbers with thousands comma. It will remove the thousands separator.

In [92]:
df.reviews = df.reviews.str.replace(',', '').astype(float)

Turn `color` and `strap_material` into categorical variables.

In [23]:
df.strap_material.unique()

array(['Thermoplastic polyurethane', 'Leather', 'Plastic', 'Silicone',
       'Elastomer', 'Rubber', 'Fabric', 'Nylon', 'Stainless Steel',
       'leather', 'Aluminium', 'Leather '], dtype=object)

In [28]:
df.strap_material = df.strap_material.astype('category')

In [47]:
df.color.unique()

array(['Black', 'Blue', 'Dual Color', 'Grey, Pink, Black',
       'Black, Pink, Beige', 'Black, Blue, Pink',
       'Storm Blue, Black, Rosewood', 'Maroon ',
       'Black, Desert Rose, Lunar White', 'White ', 'Granite Reflective ',
       'Lilac ', 'Violet, black, Grey, Teal, Blue, Red', 'Black ',
       'Grey ', 'Charcoal ', 'Multicolor ', 'Blue ', 'Purple',
       'Purple, White', 'Black, Plum, Grey', 'Plum silver', 'Purple ',
       'Orange', 'Pink ', 'Orange, Pink, Green',
       'Rose Gold, Gun Metal Black', 'Black, Purple, Teal, Blue',
       'Violet ', 'Light Blue', 'Sky Blue ', 'Yellow', 'Grey',
       'Pink, Black, Teal, Orange', 'Pink, Black',
       'Sandstone Grey, Meteorite Black, Coral Pink, ',
       'Meteorite Black, Midnight Navy', 'Dynamic Orange', 'Navy Blue',
       'Olive Green', 'Black, Blue, Red', 'Black, Blue', 'Black, Gold',
       'Pink, Silver, Black', 'Black, White', 'Black, Pink',
       'Purple, Black', 'Orange, Red, Black', 'Green, Grey',
       'Black, Green', 'Black, Teal Green, Grey', 'Black, Red, Blue',
       'Black, Grey, Red', 'Charcoal Grey, Black, Pink',
       'Green, Grey, Black, Blue, Pink, Red',
       'Charcoal Black, Beige Gold', 'Black, Deep Wine, Blue, Grey, Teal',
       'Blue, Black', 'Grey, Green', 'Green, Teal, Grey', 'Red, Black',
       'Black, Blue, Teal', 'Brown', 'Beige', 'Pink', 'Black, Red',
       'Grey, Blue', 'Red', 'Black, Beige', 'Silver', 'Silver, Green',
       'Silver, Blue', 'Pink, Blue', 'Gold', 'Brown, Grey',
       'Silver, Black', 'Multicolor', 'Rose Gold', 'Black, Silver ',
       'Brown, Black', 'Grey, Multicolor', 'Navy ', 'White',
       'Blue, Black, Gray', 'Silver, Brown', 'Rose Gold ', 'Brown, Gold',
       'Blue, Silver', 'Gray', 'multicolor', 'Red, Green', 'Charcoal',
       'Black, Pink, White', 'Pink Sand', 'Plum', 'Deep Navy',
       'Graphite Milanese', 'black', 'Black Milanese', 'Gold Milanese',
       'Cyprus Green', 'Saddle Brown', 'Space Black',
       'Stainless Steel Milanese', 'Stone', 'Silver Milanese', 'Cloud',
       'Milanese', 'Black Woven', 'Leather', 'Cocoa', 'Pearl Woven',
       'Blue Modern', 'Multicolor, White, Brown', 'Grey, White',
       'Black, Brown', 'Graphite, Sunburst', 'White, Black',
       'Black, Red ', 'Flame Red', 'Grey, Yellow', 'White, Pink',
       'Grey, Black', 'Black, Orange, Red', 'Magma Red',
       'Black, Red, Orange', 'Purple, Grey, Brown, Black, White ',
       'Graphite', 'Black, Grey', 'Black, Silver, White', 'Slate',
       'Bluw, White ', 'Blue Sapphire', 'Tidal Blue', 'Red, White ',
       'Tidal Blue, Flame Red', 'Powder Gray', 'Black, Green, Yellow',
       'Rose Gold, Slate Black', 'Blue, Orange', 'Cerise',
       'Black, White ', 'Frost Blue', 'Black, Silver', 'Green, Red',
       'Green', 'Grey, Blue, Black, Red', 'Silver, Black, Green',
       'Black, Blue, Grey, Pink, White', 'Black, Blue, White',
       'Black, Grey, Pink', 'Black, Green, Grey',
       'Black, Blue, Red, Rose Gold', 'Black, Grey, Silver',
       'Black, Blue, Green, Grey, Pink', 'Beige, Black, Grey',
       'Black, Blue, Grey, Pink ', 'Black, Blue, Green, Red, Beige, Grey',
       'Black, Beige, Grey', 'Black, Blue, Grey, Pink, Gold',
       'Black, Blue, Green', 'Black, Blue, Grey, Pink',
       'Blue, Grey, Pink', 'Black, Grey, Green'], dtype=object)

It turns out that the values of the `color` column needs some cleaning.  
First I will get a list of available colors for every row in the `color` column.

In [55]:
# create a copy to work with color values
colours = df.color.copy()

In [56]:
# remove trailing whitespaces and separate values into a list
colours = colours.str.strip().str.split(', ')
colours_titlecase = []
# apply transformation to every list of colours
for i in colours:
    # only 1 colour, just set case to title
    if len(i) == 1:
        colours_titlecase.append( i[0].title() )
    else :
        # several colours --> set case to title
        i = [colour.title() for colour in i]
        # create a single string with all the colours in the list
        i = ', '.join(i)
        colours_titlecase.append(i)
# create a series from colours_titlecase
colours = pd.Series(colours_titlecase)

In [58]:
colours.unique()

array(['Black', 'Blue', 'Dual Color', 'Grey, Pink, Black',
       'Black, Pink, Beige', 'Black, Blue, Pink',
       'Storm Blue, Black, Rosewood', 'Maroon',
       'Black, Desert Rose, Lunar White', 'White', 'Granite Reflective',
       'Lilac', 'Violet, Black, Grey, Teal, Blue, Red', 'Grey',
       'Charcoal', 'Multicolor', 'Purple', 'Purple, White',
       'Black, Plum, Grey', 'Plum Silver', 'Orange', 'Pink',
       'Orange, Pink, Green', 'Rose Gold, Gun Metal Black',
       'Black, Purple, Teal, Blue', 'Violet', 'Light Blue', 'Sky Blue',
       'Yellow', 'Pink, Black, Teal, Orange', 'Pink, Black',
       'Sandstone Grey, Meteorite Black, Coral Pink,',
       'Meteorite Black, Midnight Navy', 'Dynamic Orange', 'Navy Blue',
       'Olive Green', 'Black, Blue, Red', 'Black, Blue', 'Black, Gold',
       'Pink, Silver, Black', 'Black, White', 'Black, Pink',
       'Purple, Black', 'Orange, Red, Black', 'Green, Grey',
       'Black, Green', 'Black, Teal Green, Grey', 'Black, Red, Blue',
       'Black, Grey, Red', 'Charcoal Grey, Black, Pink',
       'Green, Grey, Black, Blue, Pink, Red',
       'Charcoal Black, Beige Gold', 'Black, Deep Wine, Blue, Grey, Teal',
       'Blue, Black', 'Grey, Green', 'Green, Teal, Grey', 'Red, Black',
       'Black, Blue, Teal', 'Brown', 'Beige', 'Black, Red', 'Grey, Blue',
       'Red', 'Black, Beige', 'Silver', 'Silver, Green', 'Silver, Blue',
       'Pink, Blue', 'Gold', 'Brown, Grey', 'Silver, Black', 'Rose Gold',
       'Black, Silver', 'Brown, Black', 'Grey, Multicolor', 'Navy',
       'Blue, Black, Gray', 'Silver, Brown', 'Brown, Gold',
       'Blue, Silver', 'Gray', 'Red, Green', 'Black, Pink, White',
       'Pink Sand', 'Plum', 'Deep Navy', 'Graphite Milanese',
       'Black Milanese', 'Gold Milanese', 'Cyprus Green', 'Saddle Brown',
       'Space Black', 'Stainless Steel Milanese', 'Stone',
       'Silver Milanese', 'Cloud', 'Milanese', 'Black Woven', 'Leather',
       'Cocoa', 'Pearl Woven', 'Blue Modern', 'Multicolor, White, Brown',
       'Grey, White', 'Black, Brown', 'Graphite, Sunburst',
       'White, Black', 'Flame Red', 'Grey, Yellow', 'White, Pink',
       'Grey, Black', 'Black, Orange, Red', 'Magma Red',
       'Black, Red, Orange', 'Purple, Grey, Brown, Black, White',
       'Graphite', 'Black, Grey', 'Black, Silver, White', 'Slate',
       'Bluw, White', 'Blue Sapphire', 'Tidal Blue', 'Red, White',
       'Tidal Blue, Flame Red', 'Powder Gray', 'Black, Green, Yellow',
       'Rose Gold, Slate Black', 'Blue, Orange', 'Cerise', 'Frost Blue',
       'Green, Red', 'Green', 'Grey, Blue, Black, Red',
       'Silver, Black, Green', 'Black, Blue, Grey, Pink, White',
       'Black, Blue, White', 'Black, Grey, Pink', 'Black, Green, Grey',
       'Black, Blue, Red, Rose Gold', 'Black, Grey, Silver',
       'Black, Blue, Green, Grey, Pink', 'Beige, Black, Grey',
       'Black, Blue, Grey, Pink', 'Black, Blue, Green, Red, Beige, Grey',
       'Black, Beige, Grey', 'Black, Blue, Grey, Pink, Gold',
       'Black, Blue, Green', 'Blue, Grey, Pink', 'Black, Grey, Green'],
      dtype=object)

Finally, I will save the processed colours to the dataset

In [59]:
df.color = colours

In [61]:
df.select_dtypes(object)

,brand_name,device_type,model_name,color,display,reviews
0,Xiaomi,FitnessBand,Smart Band 5,Black,AMOLED Display,NaN
1,Xiaomi,FitnessBand,Smart Band 4,Black,AMOLED Display,NaN
2,Xiaomi,FitnessBand,HMSH01GE,Black,LCD Display,NaN
3,Xiaomi,FitnessBand,Smart Band 5,Black,AMOLED Display,NaN
4,Xiaomi,FitnessBand,Band 3,Black,OLED Display,NaN
...,...,...,...,...,...,...
605,Fire-Boltt,Smartwatch,Talk Bluetooth,"Black, Grey, Green",HD Display,923
606,Fire-Boltt,Smartwatch,Almighty,Orange,AMOLED Display,212
607,Fire-Boltt,Smartwatch,Mercury,Red,HD Display,4941
608,Fire-Boltt,Smartwatch,Spin,White,TFT-LCD Display,15
609,Fire-Boltt,Smartwatch,Ninja Pro,White,HD Display,688

### Check uniqueness of variables

#### brand_name

In [62]:
df.brand_name.unique()

array(['Xiaomi', 'OnePlus ', 'FitBit', 'realme', 'Huawei', 'Honor',
       'GOQii', 'Infinix', 'LCARE', 'LAVA', 'Noise', 'Oppo', 'Fastrack',
       'boAt ', 'Noise ', 'huami', 'SAMSUNG ', 'FOSSIL ', 'APPLE',
       'GARMIN ', 'Crossbeats', 'dizo by realme ', 'Ptron', 'Zebronics',
       'Fire-Boltt'], dtype=object)

In [64]:
df.brand_name.str.title().unique()

array(['Xiaomi', 'Oneplus ', 'Fitbit', 'Realme', 'Huawei', 'Honor',
       'Goqii', 'Infinix', 'Lcare', 'Lava', 'Noise', 'Oppo', 'Fastrack',
       'Boat ', 'Noise ', 'Huami', 'Samsung ', 'Fossil ', 'Apple',
       'Garmin ', 'Crossbeats', 'Dizo By Realme ', 'Ptron', 'Zebronics',
       'Fire-Boltt'], dtype=object)

In [65]:
df.brand_name = df.brand_name.str.title()

#### device_type

In [66]:
df.device_type.unique()

array(['FitnessBand', 'Smartwatch'], dtype=object)

I will set the `device_type` to categorical.

In [67]:
df.device_type = df.device_type.astype('category')

#### model_name

In [69]:
df.model_name.unique()

array(['Smart Band 5', 'Smart Band 4', 'HMSH01GE', 'Band 3',
       'Band - HRX Edition', 'Band 2', 'Revolve', 'RevolveActive',
       'Smart Band 3i', 'Steven Harrington Edition Band', 'Band',
       'Versa 2', 'Sense', 'Versa 3', 'Charge 4', 'Inspire', 'Inspire 2',
       'Lunar', 'FB413LVLV', 'Flex Small', 'Inspire HR', 'Charge 3',
       'Versa Special Edition', 'Ionic', 'Versa 2 Special Edition',
       'Versa', 'Surge', 'Charge 2', 'Charge 3 Special Edition', 'Blaze',
       'Alta HR', 'Versa Lite Edition', 'versa', 'Charge HR', 'Alta',
       'Smart band', 'Band 4', 'Band 6', 'Band 2 Pro Activity', 'Band 5i',
       'Band 5', 'band 4 running', 'Band Z1', 'Beat', 'Vital 3.0',
       'Watch', 'Mambo', 'BeFit', 'ColorFit', 'ColorFit2', '46 mm',
       '41mm', '2 Pro', '2S', 'S', 'S Pro', 'S Master', 'Fashion',
       'Classic', 'Reflex 3.0', 'Reflex Beat', 'Reflex Smart Band',
       'Reflex 2.0', 'Storm', 'Xplorer', 'Delta', 'O2',
       'ColorFit Qube SpO2', 'ColorFit Pro 3', 'ColorFit Brio',
       'ColorFit Pro 2', 'Fit Active', 'ColorFit Qube',
       'ColorFit Pro 2 Oxy', 'NoiseFit Endure', 'ColorFit Pro',
       'Fit Evolve', 'Fusiom Hybrid', 'Evolve', 'Z1', 'GS Pro',
       'Watch Magic', 'Magic Watch 2', 'Watch ES', 'Magic Watch',
       'Amazfit GTS', 'Amazfit Bip U', 'Amazfit Bip S Lite',
       'Amazfit T-Rex', 'Amazfit GTS 2e', 'Amazfit GTR 2 Aluminium',
       'Amazfit GTS 2', 'Amazfit GTR 2 Stainless Steel', 'Amazfit Bip',
       'Amazfit GTR 42 mm Glitter', 'Amazfit Neo', 'Amazfit Bip S',
       'Amazfit GTR 42', 'Amazfit Stratos 3', 'Amazfit Pace',
       'Amazfit GTR 47', 'Amazfit Verge', 'Amazfit Stratos',
       'Amazfit Bip Lite', 'Amazfit Verge Lite', 'Bip Lite On',
       'Galaxy Active 2', 'Galaxy Classic 4', 'Galaxy Classic 4 LTE',
       'Galaxy Fit-e Smart', 'Galaxy Fit', 'Galaxy Watch 3',
       'Galaxy Watch 4 LTE', 'Galaxy Watch 4 Classic LTE', 'Galaxy 46mm',
       'Galaxy Active Steel 2 LTE', 'Galaxy Active Steel 2',
       'Galaxy Active 42mm', 'Galaxy 44mm', 'Galaxy LTE', 'Gear Fit 2',
       'Gear Fit', 'Galaxy Active 2 Steel', 'Gear S2',
       'Galaxy Active Steel', 'Gear Fit 2 Pro', 'Gear 2', 'Neo Gear 2',
       'Galaxy Active 46mm', 'Galaxy Watch LTE', 'Galaxy 42', 'Gear Live',
       'Gear S3 Frontier', 'Gear Sport', 'Gear S2 Classic', 'T-Mobile',
       'R600NZBAXAR 600', 'Gear R730V S2', 'Galaxy Gear',
       'Activity Tracker', 'Gen 5 Carlyle HR', 'Gen 5 Garrett HR',
       'Gen 5 Julianna HR', 'Latitude Hybrid HR', 'FB-01 Hybrid HR',
       'Collider Hybrid', 'Sadie Hybrid', 'Commuter', 'Sport',
       'Charter Hybrid HR', 'Carlie Hybrid', 'Carlie', 'Neutra Hybrid',
       'Q Venture', 'Jacqueline', 'Q Neely', 'FTW5018 Hybrid',
       'FTW5012 Hybrid', 'Jacqueline Hybrid', 'Q Annette', 'FTW6007',
       'Gen 5E', 'FTW1151 Hybrid', 'Barstow Hybrid', 'Wander RG',
       'Q Wander', 'Q Founder', 'Garrett Hybrid', 'Q Explorist',
       'Marshall', 'Gen 3 Q Venture', 'FTW4003', 'Sport 43',
       'The Carlyle HR', 'Garrett HR', '4th Gen Explorist HR', 'FTW6001',
       'Q Founder 2.0', 'Cameron Hybrid', 'Gen 3 Q Explorist',
       '4th Gen Venture HR', 'FTW6005', 'FTW1161 Hybrid',
       'FTW1142 Q Hybrid', 'Cameron Hybrid Smartwatch', 'Sport 41',
       'Q Jacqueline', 'Garrett', 'Machine Hybrid', 'Sloan HR', 'Neely',
       'Rose Gold Smart', 'FTW1159 Hybrid', 'FTW4010 Gold HR',
       'FTW6009 Black HR', 'Eleanor Hybrid', 'FTW1146 Q Hybrid',
       'FTW20013 Q', 'FTW5016 Hybrid', 'FTW5017 Hybrid',
       'FTW1141 Q Hybrid', 'FTW5003 Hybrid', 'Commuter Hybrid',
       'Q MACHINE', 'FB-01 Hybrid', 'Q GRANT', 'FTW2114 Q',
       'FTW1140 Q Hybrid', 'FTW1134 Q Hybrid', 'Q Control',
       'FTW1144 Q Hybrid', 'Rose Gold HR', '5th Gen Julianna',
       'Q Machine', 'FTW1145 Q Hybrid', 'FTW5011 Hybrid', 'FTW2120SET Q',
       'FTW1136 Q Hybrid', 'FTW2115 Q Watch', 'FTW6010 Pink HR',
       'Q ACTIVIST', 'FTW1154 Hybrid', 'FTW5015 Hybrid',
       'FTW6006 Gold HR',
       'Series 3 GPS - 42 mm Space Grey Aluminium Case',
       'SE 44 mm Space Grey Aluminium Case',
       'Series 3 GPS - 38 mm Space Grey Aluminium Case',
       'SE GPS + Cellular 44 mm Aluminium Case',
       'SE GPS + Cellular 40 mm Space Grey Aluminium Case',
       'SE 40 mm Space Grey Aluminium Case',
       'Series 6 GPS + Cellular 40 mm Red Aluminium Case',
       'SE 44 mm Gold Aluminium Case',
       'SE GPS + Cellular 40 mm Gold Aluminium Case',
       'SE GPS + Cellular 40 mm Aluminium Case',
       'Series 6 GPS 40 mm Silver Aluminium Case',
       'Series 6 GPS + Cellular 40 mm Blue Aluminium Case',
       'Series 6 GPS + Cellular 40 mm Graphite Stainless Steel Case',
       'Series 6 GPS 44 mm Red Aluminium Case',
       'SE GPS 44 mm Aluminium Case',
       'Series 6 GPS + Cellular 40 mm Space Grey Aluminium Case',
       'Series 5 GPS + Cellular 40 mm Space Black Stainless Steel Case',
       'Series 5 GPS + Cellular 44 mm Gold Stainless Steel Case',
       'Series 6 GPS 44 mm Blue Aluminium Case',
       'Series 6 GPS + Cellular 44 mm Silver Aluminium Case',
       'Series 6 GPS + Cellular 40 mm Gold Aluminium Case',
       'Series 6 GPS + Cellular 40 mm Gold Stainless Steel Case',
       'Series 5 GPS + Cellular 40 mm Stainless Steel Case',
       'Series 5 GPS + Cellular 44 mm Gold Aluminium Case',
       'Series 5 GPS + Cellular 44 mm Space Grey Aluminium Case',
       'Series 2 - 38 mm Stainless Steel Case',
       'Series 2 - 42 mm Stainless Steel Case',
       'Series 2 - 42 mm Space Black Stainless Steel Case',
       'Series 5 GPS + Cellular 40 mm Space Grey Aluminium Case',
       'Series 6 GPS + Cellular 40 mm Silver Aluminium Case',
       'SE GPS 40 mm Aluminium Case',
       'Series 5 GPS + Cellular 44 mm Stainless Steel Case',
       'Series 5 GPS 40 mm Silver Aluminium Case', 'Series 7 GPS 45 mm',
       'SE GPS + Cellular 44 mm Space Grey Aluminium Case',
       'Series 6 GPS + Cellular 44 mm Space Grey Aluminium Case',
       'Series 7 GPS + Cellular 41 mm Aluminium',
       'Series 7 GPS + Cellular, 45 mm Aluminium',
       'SE GPS + Cellular 40 mm Silver Aluminium Case',
       'Series 6 GPS 40 mm Blue Aluminium Case',
       'Series 6 GPS 40 mm Gold Aluminium Case',
       'Series 6 GPS + Cellular 44 mm Red Aluminium Case',
       'Series 6 GPS 40 mm Space Grey Aluminium Case',
       'Series 6 GPS + Cellular 44 mm Silver Stainless Steel Case',
       'Nike Series 5 GPS + Cellular 44 mm',
       'Series 6 GPS + Cellular 44 mm Blue Aluminium Case',
       'SE GPS + Cellular 44 mm Gold Aluminium Case',
       'SE GPS + Cellular 44 mm Silver Aluminium Case',
       'Series 6 GPS 44 mm Space Grey Aluminium Case',
       'Series 6 GPS 44 mm Silver Aluminium Case',
       'Series 6 GPS + Cellular 44 mm Graphite Stainless Steel Case',
       'Series 5 GPS + Cellular 44 mm Space Black Stainless Steel Case',
       '42 mm White Ceramic Case with Cloud Sport',
       'Series 7 GPS 41 mm Aluminium Case',
       '38 mm Space Black Stainless Steel Case',
       'Series 7 GPS + Cellular, 45 mm Stainless Steel',
       'Sport 42 mm Space Grey Aluminium Case',
       '8 mm Stainless Steel Case',
       'Series 7 GPS + Cellular, 41 mm Stainless Steel',
       '42 mm Black Stainless Steel Case with Link Bracelet',
       '42 mm Space Gray Aluminium',
       'Series 1 - 38 mm Silver Aluminium Case',
       'Series 3 GPS + Cellular- 42 mm Gray Ceramic Case',
       '42 mm Stainless Steel Case',
       'Series 1 - 42 mm Gold Aluminium Case',
       '2 - 42 mm Silver Aluminium Case',
       'Nike+ GPS - 42 mm Space Gray Aluminium Case',
       'Series 3 GPS + Cellular- 42 mm White Ceramic Case',
       '38 mm Stainless Steel Stainless Steel Case with Modern Buckle',
       'series 2 - 38 mm Stainless Steel Case',
       'Nike+ - 38 mm Space Gray Aluminium Case',
       'Venu Sq - Music Edition', 'Venu Sq', 'Garmin Instinct Tactical',
       'Venu', 'Forerunner 45', 'Venu 2', 'Vivosmart 4',
       'Garmin Instinct HR', 'Approach S62', 'Venu 2S',
       'Forerunner 245 Music', 'Instinct', 'Forerunner 245',
       'Vivomove Style', 'Fenix 6 Pro Solar', 'Fenix 6X',
       'FORERUNNER 745 Magma Red', 'Fenix 6', 'Lily', 'Approach S12',
       'Vivomove 3', 'Fenix 6X Solar', 'Fenix 5X', 'Vivomove Luxe',
       'Vivomove', 'Fenix 6S', 'Forerunner 945', 'Forerunner 55',
       'VIVOMOVE LUXE', 'Fenix 5X Plus', 'Swim 2', 'Vivoactive 3 Element',
       'Vivomove 3S', 'Vivoactive 3 Music', 'Vivomove HR', 'HRM-Swim',
       'Garmin Instinct Solar Tactical', 'Fenix 5S Frost Blue',
       'Forerunner 935', 'Hybrid 3', 'Forerunner 245 Music Japan Edition',
       'Fenix 5', 'Instinct Solar Tidal', 'Fenix 5S Plus',
       'Fenix 6 Sapphire Titanium', 'Fenix 6 Sapphire Gray DLC',
       'Forerunner 745 Whitestone', 'VIVOACTIVE 4S', 'Forerunner 235',
       'Vivoactive 4', 'Forerunner 745 Black', 'Vivoactive HR',
       'Fenix 5s', 'vivoactive 4S 40mm', 'Instinct Solar Camo Edition',
       'Vivoactive 3 Element Cerise', 'VIVOMOVE 3S Navy',
       'Forerunner15 Heart', 'Running GPS 935', 'Forerunner',
       'Approach S20', 'Forerunner 235 Activity Tracker',
       'Vivoactive 3 element', 'Fenix', 'Forerunner 35', 'Rubber 35',
       'FORRUNNER 235', 'Forerunner Fitness Notifier', 'Vivoactive',
       'Forerunner 735XT', 'HR GPS Smart', 'Hybrid', 'GT2 46mm',
       'GT2 Pro', 'GT2 eSport', 'GT2 eActive', 'GT2 42mm',
       'Stainless Steel', 'GT Active', 'GT Sport', 'GT Classic', 'Fit',
       'Watch 2 Sport', 'Watch 32564546', 'Watch 2', 'Watch 36456',
       'GT Fortuna-B19S Sport', 'HR', 'Vital', 'Vertex', 'Orbit Sport',
       'Ignite S3', 'Ace', 'Orbit ', 'Ignite  ', 'Ignite Pro',
       'Orbit - Special Edition', 'Trak', 'Watch Pro', 'ColorFit Caliber',
       'Evolve 2 ', 'ColorFit IconBuzz', 'Pulsefit', 'Pulsefit P461',
       'Pulsefit P261', 'Tronite', 'Rhythm', 'ZEB-FIT8220CH',
       'ZEB-FIT4220CH', 'ZEB-FIT920CH', 'ZEB-FITMe', 'ZEB-FIT5220CH',
       'ZEB-FIT1220CH', 'ZEB-FIT650CH', 'Smarttime 200', 'ZEB-FIT450',
       'zeb-fit', 'Fit-650', 'Ninja touch to Wake', 'Ultron', 'Ninja Pro',
       'Mercury', 'SpO2 Full Touch', 'Max', 'AI-BT Calling', 'BSW004',
       'Spin', 'Talk Bluetooth', 'Almighty'], dtype=object)

#### display

In [70]:
df.display.unique()

array(['AMOLED Display', 'LCD Display', 'OLED Display', 'PMOLED Display',
       'LED Display', 'TFT-LCD Display', 'OLED Retina Display',
       'IPS Display', 'HD Display'], dtype=object)

In [72]:
df.display = df.display.astype('category')

## Numerical variables

In [94]:
df.describe().round()

,selling_price_INR,selling_price_USD,original_price_INR,original_price_USD,rating,avg_battery_life_days,reviews
count,610.0,610.0,610.0,610.0,554.0,610.0,114.0
mean,20707.0,248.0,23978.0,288.0,4.0,9.0,1943.0
std,19804.0,238.0,20243.0,243.0,0.0,8.0,4771.0
min,799.0,10.0,1599.0,19.0,2.0,1.0,2.0
25%,6995.0,84.0,10249.0,123.0,4.0,2.0,80.0
50%,14999.0,180.0,18995.0,228.0,4.0,7.0,288.0
75%,27468.0,330.0,31417.0,377.0,4.0,14.0,904.0
max,122090.0,1465.0,122090.0,1465.0,5.0,45.0,23426.0

## Missing values

In [95]:
df.isna().sum()

brand_name                 0
device_type                0
model_name                 0
color                      0
selling_price_INR          0
selling_price_USD          0
original_price_INR         0
original_price_USD         0
display                    0
rating                    56
strap_material             0
avg_battery_life_days      0
reviews                  496
dtype: int64

It's common to have missing values in both `rating` and `reviews` columns. Not everybody gives a rating value or leaves a review.

I quick check to the rating values, which should be ranging from 0 to 5.

In [102]:
df.rating.agg([min, max, 'mean'])

min     2.000000
max     5.000000
mean    4.195668
Name: rating, dtype: float64

In [103]:
df.sample(5)

,brand_name,device_type,model_name,color,selling_price_INR,selling_price_USD,original_price_INR,original_price_USD,display,rating,strap_material,avg_battery_life_days,reviews
608,Fire-Boltt,Smartwatch,Spin,White,5846.0,70.152,5999.0,71.988,TFT-LCD Display,2.4,Silicone,5,15.0
428,Apple,Smartwatch,42 mm Space Gray Aluminium,Black Woven,29900.0,358.800,29900.0,358.800,OLED Retina Display,4.5,Aluminium,1,NaN
27,Fitbit,Smartwatch,Versa 2 Special Edition,Multicolor,15499.0,185.988,23999.0,287.988,AMOLED Display,4.4,Silicone,7,NaN
245,Fossil,Smartwatch,FTW5018 Hybrid,Gold,11596.0,139.152,14495.0,173.940,AMOLED Display,4.5,Stainless Steel,2,NaN
450,Garmin,Smartwatch,Forerunner 245 Music,"Black, Red",30000.0,360.000,36490.0,437.880,LED Display,4.2,Silicone,7,NaN

Finally, I will save the clean dataset:

In [ ]:
df.to_csv('clean_fitness_dataset.csv', index=False)